:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --textColor: #2c3e50;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--textColor);
  margin-top: 60px;
}
